body {
  padding: 0 auto;
  margin-left: 0px;
  overflow: hidden;
  background-color: rgb(80, 80, 80);
}

.first {
  margin-top: 100px;
}
/*Navigation bar*/
#nav {
  width: 100%;
  list-style: none;
  display: inline-block;
  text-align: center;
  background-color: rgb(65, 65, 65);
  margin: 0;
  padding: 10px 15px;
}

#nav li {
  display: inline-block;

  /*So there is no underscore from the link*/
  font-style: none;
}

#nav li a {
  font-weight: bold;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

/*Makes navbar change color when hovering*/
ul li:hover {
  background: rgb(143, 141, 141);
}
/* H1 with my name*/
#name {
  text-align: center;
  color: rgb(49, 22, 87);
  font-family: "Courier New", Courier, monospace;
}

/*Image of me on homepage*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 10%;
}

/*Div box with facts about me in homepage*/
#fun {
  margin: auto;
  left: 10vw;
  border: 2px solid black;
  width: 50%;
  height: auto;
}

/*Paragraph with introtext about me*/
#facts {
  text-align: center;
}

/*Transparent div with all other divs in it*/
#transp {
  margin: auto;
  right: 30vw;
  background-color: rgba(249, 239, 239, 0.3);
  border: 1px solid black;
  width: auto;
  height: auto;
}

/*font for all pargraphs*/
p {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Inspiration header*/
h2 {
  color: rgb(181, 130, 130);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  text-align: center;
}

/* inspiration paragraph*/
#insp {
  color: white;
}

/*form*/
.formul {
  position: absolute;
  top: 40%;
  left: 46%;
  margin: -50px 0 0 -50px;
  border: 1px solid black;
  width: auto;
  height: auto;
  padding: 20px;
}

/*Header in Contact*/
h3 {
  text-align: center;
  color: rgb(108, 154, 214);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*center form box*/
#texta {
  display: block;
  margin: auto;
}
